@font-face {
    font-family: 'DINPro';
    src: url('subset-DINPro-Medium.eot');
    src: url('subset-DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-DINPro-Medium.woff2') format('woff2'),
        url('subset-DINPro-Medium.woff') format('woff'),
        url('subset-DINPro-Medium.ttf') format('truetype'),
        url('subset-DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

