/* variables */
@color-button: #1EC072;



/* gradient */
.gradient-header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#211641+1,221842+33,261944+73,231743+100 */
	background: #211641; /* Old browsers */
	background: -webkit-linear-gradient(#211641 1%, #221842 33%, #261944 73%, #231743 100%);
	background: -o-linear-gradient(#211641 1%, #221842 33%, #261944 73%, #231743 100%);
	background: linear-gradient(#211641 1%, #221842 33%, #261944 73%, #231743 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211641', endColorstr='#231743',GradientType=0 ); /* IE6-9 */
}

/* //variables */