/* variables */
@color-button: #1EC072;
@color-blue: #5A98D8;



/* gradient */
.gradient-header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#221842+0,231743+20,221742+40,221743+65,241943+84,231842+100 */
background: #221842; /* Old browsers */
background: -moz-linear-gradient(left, #221842 0%, #231743 20%, #221742 40%, #221743 65%, #241943 84%, #231842 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #221842 0%,#231743 20%,#221742 40%,#221743 65%,#241943 84%,#231842 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #221842 0%,#231743 20%,#221742 40%,#221743 65%,#241943 84%,#231842 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221842', endColorstr='#231842',GradientType=1 ); /* IE6-9 */

}

/* //variables */