.switcher {
	width:380px;
	display: block;
	background-color: #FFF;
	border-radius: 35px;
	box-shadow: 0px 20px 60px 0px rgba(30, 192, 114, 0.4),inset -118px 0px 0px 0px rgba(235, 243, 245, 0.004);
    margin: 40px 0 40px 0;
	font-weight: bold;
	position: relative;
	z-index: 1;
}
.switcher__label-green {
	width:280px;
	display: inline-block;
	background-color: @color-button;
	border-radius: 35px;
	transition: all 0.3s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	a{
		display: block;
		padding: 25px 35px 25px 35px;
		color: #fff;
		font-size: 18px;
		font-family: 'DIN Pro';
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		
		&:hover{
			color: #BC040D;
		}
	}

	&:hover{
		width:380px;
	}
}
.switcher__label-white, .fa{
	display: inline-block;
	font-weight: 200;
	padding-right: 15px;
	font-size: 20px;
	color: #2C659B;
	padding-right: 10px;
	transition: all 0.2s ease-in;

	&:hover{
		background-color: #C8CFD1;
	}
}

.switcher__label-white:last-child{
	padding-right: 0;
}

.switcher__label-white{
	border-radius: 35px;
	background-color: #ECF3F5;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: right;
	z-index: 9;
	
	a{
		display: block;
		padding: 25px 25px 21px 50px;
		width:380px;
		text-decoration: none;
	}
}

.fa-file-pdf-o:before{
	color: #2C659B;
}

/*  Button */
.btn-substrate {
  width: 100%;
  display: inline-block;
  background-color: #FFF;
  position: relative;
  border-radius: 35px;
  box-shadow: 0px 20px 60px 0px rgba(30, 192, 114, 0.4),inset -118px 0px 0px 0px rgba(235, 243, 245, 0.004);
  
  &--width-modal{
  	width: 77%;
  }

    &::before{
      content: "+";
      display: block;
      font-size: 30px;
      font-family: 'DIN Pro';
      position: absolute;
      color: @color-button;;
      top: 50%;
      right: 15px;
      transform: translate(-50%, -50%);
    } 
}

 .btn {
  background: @color-button;;
  border-radius: 35px;
  text-align: center;
  position: relative;
  width: 80%;
  top: 0;
  right: 0;
  opacity: .8;
  transition: all 0.3s ease-in;
} 

.btn__name {
  font-size: 25px;
  font-family: 'DIN Pro';
  
  &--font-18{
  	font-size: 20px;
  }
  
  a{
    display: block;
    padding: 10px 50px;
    color: #FFF;
    text-decoration: none;
  }
}

.btn:hover{
  width: 100%;
  opacity: 1; 
}
/* // Button */

/* Jquery Modal*/

.submit{
	position: relative;
}

 .button-width {
	width:335px;
    padding: 31px 0 33px 0px;
} 

.Button__label-green--width{
	width: 270px;
	padding: 20px 0px 19px 0px;
	outline: none;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
  	line-height: 1.444;
	
	&:hover{
		width: 335px;
	}
}

input[type="submit"] {
    cursor: pointer;
    margin-top: 0px;
    border: none;
}

.Button__label-white--hidden{
	
	.fas{	
		position: absolute;
		top: -80px;
    	right: -141px;
	}	
} 
/* //Jquery Modal*/






