.switcher {
	display: inline-block;
	width:350px;
	background-color: #EBF3F5;
	border-radius: 35px;
	display: flex;
    justify-content: space-between;
    box-shadow: 0px 20px 60px 0px rgba(30, 192, 114, 0.4),inset -118px 0px 0px 0px rgba(235, 243, 245, 0.004); 
    margin-top: 75px;
	margin-bottom: 175px;
	position: relative;
	z-index: 10;
	/* display: inline-block;
	position: relative;
	margin-top: 75px;
	margin-bottom: 175px;
	padding: 20px 20px;
	//background-color: red;
	font-size: 18px;
	font-family: 'DIN Pro';
	font-weight: bold;
	line-height: 1.444;
	background-color: rgb(30, 192, 114);
	border-radius: 35px;
	box-shadow: 0px 20px 60px 0px rgba(30, 192, 114, 0.4),inset -118px 0px 0px 0px rgba(235, 243, 245, 0.004); */
    //border-radius: 35px;
}

.wrap-bloc-green{
	padding: 20px 20px 18px 20px;
	background-color: rgb(30, 192, 114);
	border-radius: 35px;
	font-size: 18px;
	font-family: 'DIN Pro';
	font-weight: bold;
	line-height: 1.444;
	
	a{
		color: #FFF;
		text-decoration: none;
	}
}

.wrap-bloc-white{
	color: red !important;
	padding: 20px 20px 18px 20px;
	background-color: #EBF3F5;
	border-radius: 0px 35px 35px 0;
	font-size: 16px;
	line-height: 1.625;
	
	a{
		color: @color-blue;
		text-decoration: none;
	}
	.fa{
		font-size: 25px;
		padding-right: 10px;
	}
}

.switcher__input{
	display: none;
}

.switcher__label-pdf a{
	/* padding: 24px 20px;
	background-color: #EBF3F5;
	border-radius: 0px 35px 35px 0;
	position: relative;
	    top: 3px;
	    right: -20px; */
}
.switcher__input {
	
	
	/* .switcher__label-green a{
		padding: 24px 20px;
		background-color: red;
		background-color: rgb(30, 192, 114);
		border-radius: 35px;
	} */
}
/* .switcher__label--blue {
	font-size: 18px;
	font-family: 'DIN Pro';
	color: @color-blue;
	font-weight: bold;
	line-height: 1.444;
	
	&:after{
		content: "";
		display: block;
		border-radius: 35px;
		background-color: red;
		padding: 20px 20px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
} */









/* 
 .switcher {
	width: 400px;
	margin: 20px auto;
	border: 2px solid #ccc;

	        border-radius: 10px;
	        text-align: center;
}
.switcher__input {
	display: none;
}
.switcher__label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #ccc;
	
	&:before{
		content: "";
		display: block;
		width: 45px;
		height: 22px;
		background: #e5e5e5;
	}
}
.switcher__label-green {

}
.switcher__label-pdf {

}
 */