/* switcher */
.switcher-wrap {
	width: 100%;
	height: auto;
	display: flex;
    border-radius: 35px;
    overflow: hidden; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
    z-index: 0;
    box-shadow: 0px 20px 60px 0px rgba(30, 192, 114, 0.4),inset -118px 0px 0px 0px rgba(235, 243, 245, 0.004);
    
    &--width-characteristic{width: 90%;}

	&--width-modal{width: 100%;}
    

	@media only screen and (min-width : 480px) {
		width: 80%;
		
		&--width-modal{width: 80%;}
	}

	@media only screen and (min-width : 992px) {
 		margin-top: 20px;
		margin-bottom: 20px;
	}	

	@media only screen and (min-width : 992px) {
		margin-top: 40px;
		margin-bottom: 40px;
		
		&--width-card{width: 100%;}

    	&--width-characteristic{
    		width: 80%;
    		margin-left: auto;
    		margin-right: auto;
    	}
	}

	//exchange
	&--btn-settings{
		width: 100%;
		margin: 0;
		margin-top: 20px;
		
		@media only screen and (min-width : 992px) {margin-top: 0;}
	}
}

input[type="submit"]{
	width: 100%;
	border: none;
	background-color: @color-button;
	color: #FFF;
	padding: 15px 10px; 
	font-weight: bold;
	transition: all 0.4s ease-in;	
}

#ex1 input[type="submit"]{
	font-size: 15px;
	
	@media only screen and (min-width :480px) {
		font-size: 18px;
	}
	
}

#ex input[type="submit"]{
	font-size: 11px;
	
	@media only screen and (min-width :480px) {
		font-size: 16px;
	}

	@media only screen and (min-width :768px) {
		font-size: 18px;
	}
}

.switcher__btn{
	width: 70%;
	height: auto;
	background-color: @color-button;
	transition: all 0.4s ease-in;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	
	a{
		display: block;
		font-size: 17px;
		padding: 20px 0;
		font-family: 'DIN Pro';
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		color: #FFF;
		
		@media only screen and (min-width : 768px) {
			padding: 22px 0;
			font-size: 21px;
		}

		@media only screen and (min-width : 992px) {font-size: 18px;}

		@media only screen and (min-width : 1200px) {
 			padding: 24px 0;
			font-size: 22px;
		}
		
	}
	
	&:hover{width: 100%;}
}

 .switcher__btn--color-hover a:hover{color: #BD4343;} 

.switcher__icon, .fa{
	width: 30%;
	height: 100%;
	display: contents;
	background-color: #fff;
	padding-top: 22px;
	padding-bottom: 20px;
	transition: all 0.2s ease-in;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	
	@media only screen and (min-width : 768px) {
		padding-top: 24px;
		padding-bottom: 22px;
	}
	
	a{
		font-weight: 200;
		font-size: 20px;
		font-weight: 900;
		color: #2C659B;
		text-decoration: none;
		
		@media only screen and (min-width : 768px) {
			font-size: 23px;
		}

		@media only screen and (min-width : 1200px) {
			padding-top: 26px;
			padding-bottom: 24px;
			font-size: 25px;
		}

	}
}
.fa-file-pdf-o:before{padding-right: 10px;}

.switcher__icon--color-hover a:hover{
	color: #BD4343;
	background-color: #C8CFD1;
}

/* card-3 */
.switcher-wrap--width-card{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
	
	@media only screen and (min-width : 992px) {margin-bottom: 20px;}
}
.switcher__btn--width-card a{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
}

 a{padding: 19px 0 15px 10px;}

.switcher__icon--width-card .fas{
	position: absolute;
	top: 50%;
	right: 20px;
    transform: translate(-50%, -50%);
    color: @icon;
    font-size: 22px;  
}

/* monthlyFee */
.button-wrap{
	max-width: 420px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
/* //monthlyFee */

/* services */
.order__button{
	position: relative;
	width: 100%;
	height: 102px;
}

.order__button .switcher-wrap{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	@media only screen and (min-width : 768px) {width: 60%;}

	@media only screen and (min-width : 992px) {
		width: 90%;
		position: absolute;
		top: 0;
		right: 0;
	}
}
.order__button .switcher__btn--width-card{
	a{
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 20px;
		
		@media only screen and (min-width : 992px) {font-size: 14px;}
	}
}
/* //services */
