/* .wrap-block-fon{
	background-color: red;
		width: 1078px;
		height: 720px;
} */
.title {
	//height: 630px !important;
	font-family: 'DIN Pro';
	font-size: 50px;
	font-weight: 400;
	color: #FFF;
	line-height: 1.2;
	letter-spacing: 0px;
	margin-top: 170px;
	text-align: left;
	position: relative;
	height: auto;
	z-index: 1; 
	span{
		color: #44C06F;
	}
}




/* 

&:after{
		content: "";
		display: block;
		//background-color: red;
		background-image: url(../img/fon/header-fon-bc.jpg);
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.6;
		width: 1078px;
		height: 720px;
		position: relative;
        top: -320px;
        left: 60px;
        z-index: -1;
	}  */