.logo{
	display: flex;
    align-items: center;
	
	.logo__img{
		margin-right: 15px;
	}

	.logo__title{
		font-family: 'DINPro';
		font-size: 30px;
		font-weight: 600;
		font-style: normal;
		color: #FFF;
		line-height: 0.867;
		letter-spacing: 4px;
	}
}