#ex1.modal, #ex.modal{
	border-radius: 8px;
	background-color: rgb(33, 21, 65);
	box-shadow: 0px 20px 139px 0px rgba(49, 110, 179, 0.66);
}

.modal-title{
	font-size: 50px;
	color: #FFF;
	line-height: 1; 
	text-align: center;
	
	span{color: @title-span;}
}

#ex1.modal.modal a.close-modal, #ex.modal.modal a.close-modal{
	top: -3.5px;
    right: 5.5px;
    background-image: none;
}

.cross{text-align: right;}

.modal-cross{
	font-size: 20px;
	color: #1EC072;
	text-align: right;
	transform: rotate(90deg);
	
	&:hover{
		text-decoration: none;
		color: #20CA64;
	}
}

.modal-form{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.modal-form__input--maskedinput{
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 40px;
	padding: 15px 20px;
	font-size: 25px;
	color: rgb(33, 21, 65);
	font-weight: bold;
    line-height: 1.5;
    outline: none;
    width: 85%;
    letter-spacing: 8px;
    
   	&::placeholder{color: #000;}
}

.modal .modal-title{
	font-size: 29px;
	
	@media only screen and (min-width : 768px) {font-size: 50px;}
}

.modal .modal-form__input--maskedinput{
	font-size: 14px;
	letter-spacing: 1px;
	
	@media only screen and (min-width : 480px) {
		font-size: 25px;
		letter-spacing: 2px;
	}
	
	@media only screen and (min-width : 768px) {
		font-size: 25px;
		letter-spacing: 8px;
	}
}

.modal .switcher__btn--width-modal{
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
	
	@media only screen and (min-width :480px) {font-size: 15px;}

	@media only screen and (min-width : 768px) {font-size: 20px;}
}

.switcher__icon--width-modal .fas{
	right: 10px;
	font-size: 18px;
	
	@media only screen and (min-width :480px) {
		right: 20px;
		font-size: 22px;
	}
}

.note{
	width: 100%;
	background-color: #BD4343;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: -30px;
    
	p{
		font-size: 18px;
		font-weight: 900;
		line-height: 1; 
		color: #000;
		text-align: center;
		padding: 20px 10px;
		
		@media only screen and (min-width :480px) {
			font-size: 23px;
		}

		@media only screen and (min-width :768px) {
			font-size: 30px;
		}
	}
}


