.nav{
    justify-content: space-between;
    align-items: center;
}

.navigation {
	display: flex;
	border: 2px solid #1EC072;
	border-radius: 24px;	
}
.navigation__list {
	margin: 0;
	padding: 0; 
	display: flex;
}
.navigation__item {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	a{
		display: block;
		font-size: 16px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: normal;
		color: #FFF;
		line-height: 1.625;
		transition: all 0.3s ease-in;
		
		&:first-child{
			padding-left: 18px;
		}
		&:last-child{
			padding-right: 18px;
		}	

		&:hover, &:action, &:focus{
			text-decoration: none;
			background-color: @color-button;
		}
	}

	&--hover-radius-right a{
		border-radius: 0 20px 20px 0;
	}

	&--hover-radius-left a{
		border-radius: 20px 0 0 20px;
	}
}

.number {
	font-size: 30px;
	color: #FFF;
	line-height: 0.867;	
}
.fas{
	font-size: 15px;
	transform: rotate(100deg);
	vertical-align: super;
	margin-right: 5px;
	color: @color-blue;	
	}
.working-hours {
	font-size: 20px;
	color: @color-blue;
	line-height: 1.6;
}


