.section{
	padding-top: 70px;
	padding-bottom: 70px;
}

.m-b-70{
	margin-bottom: 70px;
}

.p-card-ferm{
	padding: 70px 60px 0px 60px;
}

/* button */
.m-t-40, .m-b-40{
	margin-top: 40px;
	margin-bottom: 40px;
}

.m-t-20{
	margin-top: 20px;
	//margin-bottom: 80px;
}
/* //button */

.m-t-80{
	margin-top: 80px;
}