.card-3-asic{background-color: @color-bg;}

.wrap-container{
	width: 100%;
	height: auto; 
	
	@media only screen and (min-width : 992px) {
		height: 1060px;
	}
}

/* hover gradient */
.wrap-card-3{
	position: relative;
}

 .card-3{
	background-color: #fff;
	border-top: 9px solid @color-blue;
    border-radius: 10px;
    margin-top: 145px;
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: padding 0.3s ease;
    background-image: linear-gradient(
    to top,
    hsl(0, 100%, 100%),
    hsl(0, 100%, 100%)
    );
  	z-index: 0;
  	
  	@media only screen and (min-width : 992px) {margin-top: 200px;}
    
    &:hover{
    	border-top: 8px solid #1EBC71;
    	padding-bottom: 20px;
    }
} 

.card-3::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: 0px;
  background-image: linear-gradient(
    to bottom,
    hsl(152, 72%, 43%),
    hsl(251, 43%, 18%)
  );
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
  border-radius: 0 0px 10px 10px;
}

.card-3:hover::before {
  opacity: 1;
  border-radius: 0 0px 10px 10px;
}

 .card-3:hover .card-3-Asic__img>img{border: 10px solid #1EBC71;}

.card-3:hover .button-test::after{
	left: 0;
    width: 100%;
    opacity: 1; 
}

.card-3:hover .card-3-Asic__description__item{color: #FFF;}

.card-3:hover .card-3-Asic__description__item .value{color: rgba(255,255,255,0.6);}

.card-3:hover .card-3-Asic__characteristic{border-bottom: 1px solid #fff;} 

.card-3:hover .card-3-Asic__characteristic, .card-3:hover 
.card-3-Asic__price-available, .card-3:hover 
.card-3-Asic__to-order, .card-3:hover .card-3-Asic__title{color: #FFF;} 
/* //hover gradient */

.card-3-Asic__img {
	border: 10px solid rgba(221,225,243,0.5);
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	top: -125px;

	img{
		border: 10px solid #4E97D6;
		border-radius: 50%;
	}
}

.wrapper-card-text{margin-top: -80px;}

.card-3-Asic__title {
	font-size: 30px;
	font-weight: 600;
	color: rgb(33, 21, 65);
	line-height: 0.867;
	margin-bottom: 30px;
	text-align: center;
}
.card-3-Asic__description {
	text-align: left;
	display: flex;
	margin-bottom: 25px;
}

.card-3-Asic__description__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 15px;
	font-weight: 600;
  	line-height: 2;
  	
  	span.value{
  		font-weight: 400;
  		color: rgba(0,0,0,0.8);
  	}
  	
}
.card-3-Asic__description__item {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.card-3-Asic__characteristic {
	font-size: 15px;
	line-height: 1.733;
	border-bottom: 1px solid #0842E7;
	padding-right: 10px;

	a{
		text-decoration: none;
		color: rgb(8, 66, 231);
	}

	&:hover{
			text-decoration: none;
			border-bottom: none;
	}
}
.card-3-Asic__price-available {
	margin-top: 20px;
	font-size: 20px;
	color: rgb(33, 21, 65);
	line-height: 1.5;
}
.card-3-Asic__to-order {
	font-size: 20px;
	color: rgb(33, 21, 65);
	line-height: 1.5;
	margin-bottom: 20px;
}

.card-3-Asic__price-available span, .card-3-Asic__to-order span{font-weight: 600;}

/* Block description */ 

.characteristic-card{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	
	&--position-r{right: 0;}
}
 
.characteristic-card-hiden-1, .characteristic-card-hiden-2, .characteristic-card-hiden-3{display: none; z-index: 1;}

.wrap-text{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
    padding-left: 10px;
	padding-right: 0;
	background-color: #FFF;
	border-top: 8px solid @color-blue;
	border-left: 2px solid @color-blue;
	border-right: 2px solid @color-blue;
	border-bottom: 2px solid @color-blue;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	z-index: 1000;
	top: 200px;
	bottom: 0;

	@media only screen and (min-width : 480px) {
		width: 95%;
		top: 255px;
	    padding-left: 20px;
		padding-right: 20px;
	}
}

.characteristic__title {
	font-size: 30px;
	font-weight: 900;
	color: rgb(33, 21, 65);
	line-height: 1.067;
	text-align: center;
	padding-bottom: 35px;
	word-break: normal;
	padding-top: 35px;
}
.characteristic__info, .characteristic__technical-characteristic {
	font-size: 18px;
	font-weight: bold;
	color: rgb(78, 151, 214);
  	line-height: 1.667;
  	padding-bottom: 10px;
}
.characteristic__info-desk, .characteristic__technical-characteristic-desk {
	font-size: 15px;
	padding-bottom: 30px;
	
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			margin: 0;
			padding: 0;
			font-size: 15px;
			font-family: 'DIN Pro Bold';
			
			span{
				font-family: 'DIN Pro Light';
				font-weight: 400;
				padding-left: 5px;
			}
		}
	}

	p{
		font-size: 15px;
	}
}

//form
.communicate{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 145px;
	
	@media only screen and (min-width : 480px) {
		top: 195px;
		width: 95%;
	}
}
.form-phone{	
	border-radius: 0px 0 10px 10px;
	margin-top: 40px;
	background-image: linear-gradient(
    to bottom,
	hsl(211, 36%, 21%),
    hsl(251, 46%, 18%)
  );	
  
  &--bg-none{background-image: none;}
}
.form-phone__title{
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.667;
	padding-top: 30px;
	padding-left: 25px;
	padding-bottom: 10px;
}

.form-phone>.modal-form {
	margin-top: 0;
	margin-bottom: 0;		
}

.form-phone>.modal-form>.modal-form__input--maskedinput {
	letter-spacing: 3px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-phone>.modal-form>.Button__label-green-small{width: 100px;}
