.exchange {
	background-image: url(../img/fon/footer-bg.png);
	background-repeat: repeat;
	min-height: 535px;
	position: relative;
	z-index: 0;
	
		&::before{
			content: "";
			display: block;
			width: 100%;
			height: 535px;
			background-image: url(../img/fon/fon-o.png);
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
} 

.wrapper-exchange{
	width: 100%;
	height: auto;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	position: relative;
	z-index: 20;
	margin-bottom: 40px;
	
	&:last-child{
		margin-bottom: 0;
		padding-bottom: 40px;
	}
	
	@media only screen and (min-width : 992px) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	
	.currency-list{padding: 0;}
}

.exchange__title{
	font-size: 33px;
	color: #fff;
	line-height: 1;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	
	@media only screen and (min-width : 768px) {
		font-size: 50px;
		padding-top: 70px;
		padding-bottom: 70px;
	}
	
	span{color: @title-span;}
}

.label-title{
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	padding-bottom: 15px;
}

.exchange__cripto, .exchange-currency {
	width: 100% !important;
	display: flex;
	
	@media only screen and (min-width : 768px) {width: 48% !important;}
	
	@media only screen and (min-width : 992px) {width: 33%;}
	
	.input, .currency-list{
		width: 50%;
		padding: 15px;
		
		@media only screen and (min-width : 992px) {
			padding: 0;
			padding-left: 20px;
		}
	}

	.input{
        border-radius: 10px 0 0 10px;
        font-size: 20px;
        font-weight: bold;
        padding-left: 15px;
        border:2px solid transparent;
        transition: all 0.2s ease-in;
        
        	&:active ,&:focus{
        		outline: none;
        		border: none;
        		border:2px solid #4E97D6;
				box-shadow: 3px 2px 8px 0px rgba(78,151,214, 0.9);
        	}
	}

	.currency-list{
		padding-left: 5px;
		font-size: 15px;
		font-weight: bold;
		
		@media only screen and (min-width : 480px) {
			font-size: 20px;
			padding-left: 15px;
		}
	}
}

.exchange-currency{width: 100%;}

.exchange__text {
	width: 4%;
	color: #208E64;
	font-size: 20px;
	font-weight: bold;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    
    @media only screen and (min-width : 992px) {
    	padding: 0 40px;
	}
}
.exchange-currency {width: 33%;}

.exchange-button{
	width: 100%;
	margin-left: 0;
	
	@media only screen and (min-width : 400px) {width: 60%;}

	@media only screen and (min-width : 768px) {width: 50%;}

	@media only screen and (min-width : 992px) {margin-left: 20px;}
}

//arrow-down
.currency-list{
	appearance:none;
	background:url('../img/icon/arrow_down-select.png');
	background-repeat:no-repeat;
	background-size:18px 10px;
	background-position: 90% 50%;
}

.currency-list>option.currency-item{
	border:20px solid #4E97D6;
	margin-top: 20px;
}

.currency-list{
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border: none;
	outline: none;
    border-radius: 0 10px 10px 0;
    background-color: #DEDDE3;
    transition: all 0.2s ease-in;
    border:2px solid transparent;
    padding-left: 10px;
    
    &:focus{
		border:2px solid #4E97D6;
		border-radius: 0 10px 0 0;
		box-shadow: 3px 2px 8px 0px rgba(78,151,214, 0.9);
    } 
}

option{padding: 6px 28px 6px 0;}

