.wrapper-farm{
	width: 100%;
	background-image: url(../img/fon/fon-block-ferma.png);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.card{
	margin-left: 17px;
	margin-right: 17px;
	border-top: 8px solid @color-blue;
	border-radius: 8px;
}

.card__img{
	width: 100%;
	img{
		margin-left: auto;
		margin-right: auto;
		max-width: 373px;
		height: 218px;
	}
	
	text-align: center;
	margin: 30px auto;
}

.card__list{
	margin: 0;
	padding: 0;
	line-height: 2;
	
	.card__item{
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 15px;
		font-family: 'DIN Pro Bold';
	}
}

/* dashed line */
ul.card__list li {
    border-bottom: 1px dotted #C2C2C2;
    position: relative;
    padding: 0;
}

ul.card__list li span {
    background-color: #FFF;
    margin: 0;
}

ul.card__list li span.text, ul.card__list li span.value {bottom: -8px;}

ul.card__list span.text {
    position :relative;
    margin-right:7em; 
    padding-right:2px;
}

ul.card__list span.value {
    position: absolute;
    right: 0;
    padding-left:2px; 
    font-size: 15px;
    color: rgba(33, 21, 65, 0.7);
} 
/* //dashed line */
.card__price-wrap{
	padding-top: 30px;
  	padding-bottom: 30px;
}
.card__price, .card__wholesale{
	font-size: 20px;
	color: rgb(33, 21, 65);
  	line-height: 1.5;
  	
  	span{
  		font-family: 'DIN Pro Bold';
  		padding-left: 10px;
  	}
}

