.footer{
	width: 100%;
	background-image: url(../img/fon/footer-bg.png);
	background-repeat: repeat;
	display: flex;
    flex-wrap: wrap;
    position: relative;

    &::before{
	 		content: "";
	 		display: block;
	 		background-image: url(../img/fon/footer-top-bg.png);
	 		background-repeat: no-repeat;
	 		background-position: right;
	 		width: 100%;
	 		height: 78px;
	 		position: absolute;
	 		top: -75px;
	 		right: 0;
	 		z-index: 0;
	 	}  
}

.maps{ 
	width: 100%;
    order: 1;
	
	@media only screen and (min-width : 768px) {
		width: 50%;
		order: 0;
	}
	.myMap{
		height: 500px;
	}
}
.wrap-contacts{
	background-image: url(../img/fon/footer-bg2.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.footer-top-bg{
	display: block;
	background-image: url(../img/fon/footer-top-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	width: 100%;
	height: 78px;
	position: absolute;
	top: -76px;
	right: 0;
	z-index: 0;
	
	@media only screen and (min-width : 768px) {
		display: none;
	}
	
}

.contacts{
	width: 100%;
	order: 0;
	text-align: center;
	padding-left: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	
	@media only screen and (min-width : 768px) {
		width: 50%;
		order: 1;
		text-align: left;
		padding: 70px 0 70px 40px;
	}
	
	@media only screen and (min-width : 992px) {padding-left: 80px;}
}

.contacts__title{
	font-size: 38px;
	color: rgb(255, 255, 255);
	line-height: 1;
	padding-bottom: 70px;
	
	span{color: @title;}

	@media only screen and (min-width : 992px) {font-size: 50px;}
}

.address{
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;	
}

.arrow-top{
	position: fixed; 
	z-index: 10000; 
	width: 50%;
	display: none;
    justify-content: center;
	margin-top: 20px;
	
	@media only screen and (min-width : 992px) {
  		display: flex;
  		bottom: 265px;
		right: -197px;
	} 
}