.header{
	display: flex;
    flex-direction: column; 
    flex-grow: 1;
	padding-top: 10px;
	.gradient-header;
	position: relative;
}

.wrap-center-block-header{
	display: flex;
	text-align: center;
}

.wrap-fon-bc{
	width: 100%;
	height: auto;
	position: relative;
}
 
.header-fon-bc{
	display: none;
 	height: 500px;
 	background-image: url(../img/fon/header-fon-bc.jpg);
 	background-repeat: no-repeat;
 	background-position: center;
 	margin-left: auto;
 	margin-right: auto;
 	position: absolute;
    top: 0px;
    right: 0;
    left: 0px;
    opacity: 0.5;
 	z-index: 0;
 	
 	 @media only screen and (min-width : 992px) {display: block;} 

	@media only screen and (min-width : 1200px) {top: 240px;}
 }  
 
 .header__fonFoto-asic{
 	display: none;
 	background-image: url(../img/fon/header-fon-asic.png);
 	background-repeat: no-repeat;
 	background-position: center;
    background-size: cover;
 	z-index: 0;
 	
 	@media only screen and (min-width : 992px) {
		display: block;
		width: 500px;
 		height: 495px;
 		position: absolute;
 		top: -40px;
	 	right: -10px;
 	
	}

	@media only screen and (min-width : 1200px) {
		width: 621px;
 		height: 615px;
 		top: 50px;
 		right: -30px;
	} 
 	   	
   	 @media only screen and (min-width : 1320px) {right: -80px;} 
}
 
.header-footer-bg{
	margin-top: 0px;
 	height: 198px;
 	background-image: url(../img/fon/header-fon-bottom.png);
 	background-repeat: no-repeat;
 	background-position: center;
    flex-grow: 0;
	position: relative;
 	bottom: -21px;
 	
 	@media only screen and (min-width : 992px) {margin-top: 50px;}
 }
