.header{
	
	min-width: 100%;
	//max-height: 900px;
	/* background-image: url(../img/fon/horizon-line-fon.png);
	background-repeat: repeat-y;
	background-position: center; */
	//background-color: red;
	padding-top: 35px;
	.gradient-header;
	
	 &:before{
		content: "";
		display: block;
		min-width: 743px;
		height: 668px;
		background-image: url(../img/fon/header-fon-bc.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0px;
    top: 200px;
	} 
		
}

.header__button {

}
.header__fonFoto-asic{
	position: absolute;
	top: 50px;
	right: -131px;
	width: 150%;
	z-index: 3;
}

.wrap-center-block-header{
	display: flex;
	text-align: center;
}

.wrap-fon-bc{
	width: 100%;
	height: auto;
	background: red;
	position: relative;
}
/* 
.header-fon-bc{
	min-width: 743px;
	height: 668px;
	background-image: url(../img/fon/header-fon-bc.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	position: relative;
	left: 224px;
    bottom: 608px;
	z-index: 0;
	
}
 */
