.services-wrapper {
	background-color: @color-bg;
}

.services-center-title { 
	font-size: 35px;
	color: #000;
  	line-height: 1;
  	text-align: center;
  	margin-bottom: 40px;
  	
  	@media only screen and (min-width : 768px) {
		font-size: 50px;
		margin-bottom: 70px;
	}
  	
  	span{
  		color: @title;
  	}
}

.wrap-services {
	border-radius: 8px;
}
.services {
	width: 100%;
	display: flex;
	background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    
    &:last-child{
		margin-bottom: 0;
    }
}

 .services__img {
 	position: relative;
 	top: 0;
 	left: 0;
 	width: 20%;
	img{
		display: block;
		width: 60px;
	}
	display: inline-block;
	.gradient-darkGreen-vertical;
	padding: 25px;
	border-radius: 8px 0px 0 8px;
} 

.text-wrap{
	position: relative;
	top: 0;
	right: 0;
	width: 80%;
	height: auto;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
}
.services__title {
	font-size: 20px;
	color: #211541;
	font-family: 'DIN Pro Bold';
	line-height: 1.5;
	padding-bottom: 10px;
}

.services__subtitle {
	font-size: 14px;
	color: rgba(33, 21, 65, 0.8);
	line-height: 1.429;
}

.order {
	text-align: right;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order__img img{
    border-radius: 8px;
    display: none;
    
    @media only screen and (min-width : 992px) {
		display: block;
	}
}

//stock
.stock{
	position: relative;
	
	&::before{
		content: "";
		display: block;
		width: 40px;
		height: 40px;
        border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		.gradient-stock;
	}

	&::after{
		content: "New";
		display: block;
		position: absolute;
		font-size: 13px;
		font-family: 'DIN Pro Bold';
		line-height: 2.308;
		color: #FFF;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
	}
}
